body{
	font-size: 20pt;
	margin: 2em;
}

table {
	border-collapse: collapse;
	width: 100%;
}
td, th {
	border: 1px solid black;
	padding: 0.5em;
	text-align: left;
}

th{
	background-color: #cccccc;
}
tr:nth-child(even) {
	background-color: #eeeeee;
}

a:link, a:visited {
    color: blue;
}

.rainbow_text_animated {
    background: linear-gradient(to right, #6666ff, #0099ff , #00ff00, #ff3399, #6666ff);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    animation: rainbow_animation 18s ease-in infinite;
    background-size: 400% 100%;
}
@keyframes rainbow_animation {
    0%,100% {
        background-position: 0 0;
    }

    50% {
        background-position: 100% 0;
    }
}

@media (max-width: 60em){
	body{
		margin: 0.5em;
	}
	td, th {
		padding: 0.2em;
	}
}
