/*Color scheme:
https://kuler.adobe.com/create/color-wheel/?base=2&rule=Analogous&selected=0&name=My%20Kuler%20Theme&mode=rgb&rgbvalues=0.050000000000000044,0.30017131870999947,1,0.04550000000000004,0.5006559000257375,0.91,0,0.7896540196945807,1,0.04550000000000004,0.91,0.8608983716702665,0.050000000000000044,1,0.6771742421425528&swatchOrder=0,1,2,3,4
#0D4DFF
#0C80E8
#00C9FF
#0CE8DC
#0DFFAD
*/
* {
	font-family: Georgia, serif;
}
body{
	background-color: #0ce8dc;
	text-align: center;
}
a{
	text-decoration: none;
}
/*Unvisited style:*/
a:link{
	color: #0c80e8;
}
/*Visited Style*/
a:visited{
	color: #0c80e8;
}
a:active{
}
a:hover{
	color: #0d4dff;
}
body p{
	display: inline-block;
	font-size: 1.3em;
	max-width:40em;
}
